<!DOCTYPE html>
<html>

<head>
    <title>The Breaking Bad Quote Of The Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .main {
            margin-left: 30px
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>Welcome it is {{get_time()}}.</h1>
        The secret of the day is:
        {{get_secret()}}
          </div>
        </div>
</body>

</html>
